body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 500px;
  margin:50px auto 50px;
  padding: 10px 15px;
  background-color: #91cef7;
}
.formInput{
  font-size: 1.1em;
  padding: 3px;
  width: 250px;
  border: 1px solid RGBa(30, 144, 255,0.8);
  border-radius: 2px;
  box-shadow: 0px 0px 4px RGBa(30, 144, 255,0.8);
  outline: none;
}
.invalid{
  border: 1px solid RGBa(139,0,0,0.7);
  border-radius: 2px;
  box-shadow: 0px 0px 4px RGBa(139,0,0,0.7);
}
.form_label{
  float: left;
  display: inline-block;
  width: 170px;
  padding-right: 20px;
  font-size: 1.5em;
  font-family: 'Indie Flower', cursive; 
  font-weight: 700; 
  color:DarkRed;
  text-align: right;
}
.massageValid{
  height: 1.3em;
  margin: 5px 0px;
  font-size: 1.1em;
  font-weight: 700;
  font-family: 'Indie Flower', cursive; 
  color:red;
  text-align: center;
}
.BtnAdd{
  display: block;
  width: 250px;
  padding: 5px;
  margin:30px auto;
  text-align: center;
  font-size: 1.4em;
  font-family: 'Indie Flower', cursive; 
  font-weight: 700; 
  color:DarkRed;
  background-color:#FFB8A2;
  border:2px solid #666666;
  border-radius:3px;
}
.BtnAdd:hover{
  cursor: pointer;
}
.containerSearch{
  margin-top: 30px;
  padding: 15px;
  padding-bottom: 5px;
  min-height: 100px;
}
.inputSearch{
  width: 270px;
  margin-left: 25px;
  font-size: 1.3em;
  padding: 7px;
  border:2px solid #666666;
  border-right: none;
  border-radius:5px 0 0 5px;
  outline: none;
}
.BtnSearch{
  font-size: 1.4em;
  font-family: 'Indie Flower', cursive;
  color:DarkRed;
  font-weight: 700;  
  padding: 4px 28px 1px 28px;
  border:2px solid #666666;
  border-radius:0 5px 5px 0;
  background-color:#A5FF76;
}
.BtnSearch:hover{
  cursor: pointer;
}
.foundContacts {
  font-size: 1.1em;
  margin-left: 40px;
}
.massageNotFound {
  margin-left: 40px;
  font-size: 1.1em;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  color:DarkRed;
}
.containerSearch .fas{
  margin-right: 5px;
}
.userList{
  margin:10px 0px;
  padding:3px 40px;
  font-size: 1.3em;
  list-style-type: none;
  color:#666666;
  cursor: default;
}
.userList li{
  padding: 3px;
  display: flex;
  align-items: center;
}
.userList span{
  padding: 0 7px;
}
.userList li:hover{
  color: #222;
}
.userList li:hover .fa-times{
  color: red;
  cursor: pointer;
}
.userList .fa-times{
  margin-left: auto;
}